<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">
                        Admin
                    <a href="#" data-toggle="modal" data-target="#modal-user"><i class="fa fa-user"></i></a>
                    <a href="#" data-toggle="modal" data-target="#modal-punch"><i class="fa fa-book"></i></a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>