<section id="display" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12" align="center">
            <h2>Scoreboard</i></a></h2>
            <div class="table-responsive">
            <table class="table">
                <thead align="center">
                    <tr>
                        <th>Teamname</th>
                        <th>Money</th>
                        <th>Productivity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in teamstatus %}
                        {% if record.TeamName != "test" %}
                        <tr>
                            <td>{{ record.TeamName }}</td>
                            <td>{{ record.MoneyCount }}</td>
                            <td>{{ record.Productivity }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</section>