<section id="export" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <h2>Export Report</h2>
            <div class="col-lg-6" align="center">
                <form class="form-horizontal" role="form" method="post" action="/export">
                    <div class="form-group">
                        <div class="btn-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span data-bind="label">Account</span>&nbsp;<span class="caret"></span>
                                <input type="hidden" name="account" data-bind="input" />
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {% for record in records %}
                                        <li><a href="#">{{ record.account }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="btn-group">
                                <div id="reportrange" class="drp" >
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                    <span></span>
                                    <input type="hidden" name="start" data-bind="input" />
                                    <input type="hidden" name="end" data-bind="input" />
                                </div>
                            </div>
                            <div class="btn-group">
                                <input type="submit" class="btn btn-default" value="Export"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section>