<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Play</h1>
                    <h2>Now Time: {{ NowTime }}</h2>
                    <h2>Remained Time: {{ RTime }}</h2>
                    <h2>Now State: {{ NowState }} </h2>
                </div>
            </div>
        </div>
    </div>
</header>