<section id="list" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-6" align="center">
            <h2>List <a href="#" data-toggle="modal" data-target="#modal-punch"><i class="fa fa-edit"></i></a></h2>
            <table class="table">
                <thead align="center">
                    <tr>
                        <th>Account</th>
                        <th>Status</th>
                        <th>Updated</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                        <tr>
                            <td>{{ record.account }}</td>
                            <td>{{ record.state }}</td>
                            <td>{{ record.updated }}</td>
                            <td>{{ record.note }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>