<div class="modal fade" id="modal-punch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/punch" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Punch</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span data-bind="label">Status</span>&nbsp;<span class="caret"></span>
                            <input type="hidden" name="state" data-bind="input" />
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% for state in state_list %}
                                    <li><a href="#">{{ state }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <input type="text" name="note" class="form-control" placeholder="What did you do today?">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-cancel" data-dismiss="modal">Close</button>
                    <input class="btn btn-default" value="Punch" type="submit"/>
                    <input type="hidden" name="account" value="{{ account }}">
                </div>
            </form>
        </div>
    </div>
</div>