{% extends 'base.twig' %}
{% block title %}Back{% endblock %}
{% block body %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
       {% include 'section/time.twig'  %}
        
            <button class="form-control" onclick="run();">Run!</button>
            <button class="form-control" onclick="stop();">Stop!</button>
        
    </body>
{% endblock %}