{% extends 'base.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        {# Navigation #}
        {% include 'section/navigation.twig' %}
        
        
        {% if admin %}
            {# Admin Section #}
            {% include 'section/admin.twig' %}
            {# Update Team Data #}
            {% include 'modal/team.twig' %}
        {% else %}
            {# Buying Pricelist #}
            {% include 'section/buylist.twig' %}

            {# product Prolist #}
            {% include 'section/productlist.twig' %}

            {# product Selllist #}
            {% include 'section/selllist.twig' %}

            

        {% endif %}

        {% include 'section/display.twig' %}


    </body>

    {% include 'section/footer.twig' %}
    
{% endblock %}





{% block js %}
    <script src="js/main.home.js"></script>
{% endblock %}