{% extends 'base.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        {# Navigation #}
        {% include 'section/navigation.twig' %}
        
        {% if admin %}
            {# Admin Section #}
            {% include 'section/admin.twig' %}
            {# Update Modal #}
            {% include 'modal/user.twig' %}
        {% else %}
            {# Intro Section #}
            {% include 'section/punch.twig' %}        
            {# Punch Modal #}
            {% include 'modal/punch.twig' %}
        {% endif %}

        {# List Section #}
        {% include 'section/list.twig' %}
        {# Exoport Section #}
        {% include 'section/export.twig' %}
        {# Footer #}
        {% include 'section/footer.twig' %}
        
        {# Update Modal #}
        {% include 'modal/update.twig' %}


    </body>
{% endblock %}
{% block js %}
    <script src="js/main.home.js"></script>
{% endblock %}