{% extends 'base.twig' %}
{% block title %}Signup{% endblock %}
{% block body %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <form action="/offersys/test/public/signup" method="post">
                        <h1 class="brand-heading">Offering System</h1>
                        <div class="col-md-6" align="center">
                            <div class="form-group">
                                <input type="text" name="team" class="form-control" placeholder="team">
                            </div>
                            <div class="form-group">
                                <input type="text" name="account" class="form-control" placeholder="Account">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password">
                            </div> 
                            <div class="form-group">
                                <input class="btn btn-default" value="Signup" type="submit"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
</body>
{% endblock %}